@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
body {
    color: #143F6B;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.heading {
    font-size: 3.5rem;
    color: #F56D91;
}

.challenge-icon{
    width: 70%;
    height: 30%;
}

.challenge-heading {
  
}

footer{
    bottom: 0;
}

hr{   
    color: black;
}